body {
	padding:0;
	margin:0;
}
nav {
		width: 100%;
		position: fixed;
		height: 60px;
		background: #fff;
		padding: 15 0 0 0;
}
nav ul {
	width: 900px;
	margin: 0;
	padding-left: 200px;
}
nav ul li {
	display: inline;
	padding: 0px 15px 0px 15px;
	width: 150px;
	text-align: left;
}
nav ul li {
	list-style-type: none;
}
nav ul li a {
	line-height: 40px;
	font-size: 12px;
	text-decoration: none;
	color: #515151;
	font-family: 'Arial';
}
nav ul li a:hover {
	color: #D76C6C;
}
nav ul li a.rebelteam {
	color: #8B0000;
	font-size: 22px;
	font-family: 'Chewy', cursive;
	font-weight:800;
}
/*Главная страница*/
div.header-content {
	background-image: url('bg2.jpg');
	height: 100%;
}
/*Правила*/
div.firstpage {
	height: 1100;
	padding: 0 150 0 150;
}
div.div1 {
	background: #D76C6C;
	font-size: 40;
	width: 751;
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	color: #fff;
}
div.div2 {
	border: 1px solid #D76C6C;
	border-radius: 0px 0px 20px 20px;
	width: 750;
	text-align: left;
}
p.textrules {
	color: #434343;
	padding: 10 50 10 50;
}
h3.header-rule {
	text-align: center;
	font-weight: 800;
	font-size: 30;
	color: #D76C6C;
}
hr.hr1 {
	height: 3;
	background: #D76C6C;
	width: 125;
}
span.tegs {
	color: #A12B2B;
	font-size: 20;
	padding-left: 0;
}
/*информация о конкурсе*/
div.secondpage {
	display: block; 
	background-image: url('bg2.jpg');
	
}
h3.header-competition {
	text-align: center;
	font-weight: 800;
	font-size: 30;
	color: white;
}
hr.hr2 {
	height: 3;
	background: white;
	width: 115;
}
div.competition-rules {
	padding-left: 210px;
	padding-right: 210px;
	text-align: center;
	font-size: 20px;
	color: #830B0B;
	font-family: 'Arial';
}
div.competition-rules ul li {
	list-style-type: none;
	
}
ul.foodvar {

  		height: 60px;
  		//padding: 45 275 45 275;


  }

  ul li {
  		display: inline-block;
                  padding: 0 40 0 0;
  }

  hr.hr3 {
        		height: 3;
  		background: #fff;
  		width: 850;
  }

  div.div3 {
  		background: #FFF;
  		font-size: 40;
  		width: 751;
  		border-radius: 20px 20px 0px 0px;
  		text-align: center;
  		color: #D76C6C;
  }

  h3.header3 {
  		text-align: center;
  		font-weight: 800;
  		font-size:30;
  		color: white;
  }

  @font-face {
  			font-family: Alabama;
  			src: url(Alabama.ttf);
  }

  @font-face {
  			font-family: BuxtonSketch;
  			src: url(BuxtonSketch.ttf);
  }
  div.block1 {
  		display: block;
  		font-size: 32;
  		width: 301.5;
  		border-radius: 5px 5px 0px 0px;
  		text-align: center;
  		color: #fff;
  		left: 50;
  		//border: 1px solid #8B0000;
  		font-family: Alabama;

  }
  div.block2 {
  		display: block;
  		font-size: 28;
  		width: 300;
  		border-radius: 0px 0px 5px 5px;
        text-align: center;
  		color: #8B0000;
  		text-align: center;
  		font-family: BuxtonSketch;
  }
  div.commondiv {
  		padding-left: 40px;
  		padding-right: 40px;
  		margin-left: 50px;
  		margin-right: 30px;
  		display: inline-block;
  }